.recipecard{
    .recipeimg{
        object-fit: cover;
    }
}
.pagination{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 20px;
    max-width: 120px;
    width: 100%;
    margin:20px auto;

    .left_page,.right_page{
        background-color: rgb(239, 238, 238);
        padding: 2px;
        width: 50px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }
}