header {
    width: 100%;
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 2;

    .dropdown_btn {
        background: none !important;
        border: none !important;
        color: none;
        font-size: 20px;
    }
    
    .dropdown-toggle::after {
        display: none;
    }
    
}